<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width" />
<title>计量管理系统</title>
<link href="/static/resources/extjs/resources/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet" />
<link href="/static/resources/styles/style.css" rel="stylesheet" />



<script src="/static/resources/extjs/bootstrap.js"></script>
<script src="/static/resources/extjs/ext-charts-debug.js"></script>
<script src="/static/resources/extjs/locale/ext-locale-zh_CN.js"></script>
<script src="/static/resources/extjs/ux/PreviewPlugin.js"></script>
<script src="/static/resources/extjs/ux/ProgressBarPager.js"></script>



<script src="/static/app.js"></script>

</head>
<body>
  
</body>
