<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计量系统</title>
     
    <link href="/static/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.css" type="text/css" rel="stylesheet">
    <link href="/static/app/resources/css/app.css" type="text/css" rel="stylesheet">
    <script src="/static/ext-all.js" type="text/javascript"></script>
    <script src="/static/packages/ext-locale/build/ext-locale-zh_CN.js" type="text/javascript"></script>
    <script src="/static/app/app.js" type="text/javascript"></script>
     
</head>
<body>

 
</body>
</html>