<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Integrated Field Network Head-end - login</title>
	<link id="legacyCSS" rel="stylesheet" type="text/css" href="/static/app/resources/css/legacy_login.css">
		<!-- <link rel="stylesheet" type="text/css" href="/static/orchestration/lib/extjs/resources/css/ext-all.css" />
		<script type="text/javascript" src="/static/orchestration/lib/extjs/ext-base.js"></script>
		script type="text/javascript" src="/static/orchestration/login.js"></script>		 -->
    <link href="/static/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.css" type="text/css" rel="stylesheet">
    <link href="/static/app/resources/css/app.css" type="text/css" rel="stylesheet">
    <script src="/static/ext-all.js" type="text/javascript"></script>
    <script src="/static/packages/ext-locale/build/ext-locale-zh_CN.js" type="text/javascript"></script>
</head>

<body class="reboot2" style="background: #FFFFFF;">
	<div id="loginShell" class="dijitContainer dijitBorderContainerNoGutter" style="padding: 0px;">
		<form id="login" name="login" action="." method="post">
			{% csrf_token %} <input type="hidden" name="login" value="login">

				<div id="loginPage" class="loginPage" style="margin: -225px auto auto auto; position: relative; width: 690px; height: 450px; top: 50%">
					<div class="loginBackTop">
						<div class="productInfo" style="margin-top: 5px;">
							<!--<div class="productLogoContainer productLogo" style="margin:-width:10px;"></div>-->
							<div class="productDesc" style="margin-left: 60px;">
								<div class="productFamily">Cisco Systems</div>
								<div class="productName">Integrated Field Network Head-end</div>
								<div class="productVersion">Version: {{ version }}</div>
							</div>
						</div>
						<div class="userFormContainer">
							<table class="userForm" border="0">
								<tbody>
									<tr>
										<td class="userFormLabel">用户名</td>
										<td><input id="login-username" type="text" name="login-username" autocomplete="off" class="dijit dijitReset dijitLeft dijitTextBox"
											maxlength="32" style="margin-left: 5px;"> <script type="text/javascript">
                       /*  $(document).ready(function() {
                          $("#login\\:username").focus();
                          setTimeout(function() {
                            history.go(0);
                          }, 29 * 60 * 1000);
                        }); */
                      </script></td>
									</tr>
									<tr>
										<td class="userFormLabel">密码</td>
										<td><input id="login-password" type="password" name="login-password" autocomplete="off" maxlength="32" style="margin-left: 5px;"
											class="dijit dijitReset dijitLeft dijitTextBox"></td>
									</tr>
									<tr>
										<td></td>
										<td>
											<div style="margin-left: 5px;">
												<button class="login-btn">登录</button>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td><div class="errors"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="loginMiddle">
						<div class="middleContent"></div>
					</div>
					<div class="loginMiddle">
						<div class="loginMiddleInformation" style="border: medium none;">
							<div class="loginMiddleInformationContainer"></div>
						</div>
					</div>
<!-- 					<div class="loginMiddle loginMiddleCopyright">
						<div class="copyright">© 2013-2014 Cisco Systems, Inc. Cisco, Cisco Systems and Cisco Systems logo are registered trademarks of Cisco
							Systems, Inc. and/or its affiliates in the U.S and certain other countries</div>
						<div class="copyrightLogo" title="Cisco Logo"></div>
					</div> -->
					<div class="loginBackBottom loginBackBottomContainer">
						<div class="bottom-center"></div>
					</div>
				</div> <input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id5:j_id6">
		</form>
	</div>

</body>
</html>
